/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: 2em;
    color: #333;
}

/* Header Styling */
header {
    background-image: linear-gradient(sienna, chocolate); /* Gradient from sienna to chocolate */
    padding: 10px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

header .title {
    font-size: 2.5em;
    color: #fff;
}

/* Top Announcement Bar */
#top-announcement {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    background-color: yellow;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    color: black; 
    font-weight: bold;
}

/* Navigation Styling */
nav {
    background: saddlebrown; /* Dark brown color for nav */
}

nav .container {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: inline-block;
    font-weight: bold;
}

nav li.active a {
    background-color: #444;
    border-radius: 5px;
}

/* Main Content */
main {
    padding: 20px 0;
    background-color: #fff;
}

main .container {
    text-align: center;
}

/* Footer Styling */
footer {
    background: saddlebrown;
    color: #fff;
    padding: 10px;
    height: 100px;
}

footer h2 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 1.5em;
}

footer address {
    font-size: 0.9em;
}

footer address ul {
    list-style: none;
    padding: 0;
}

footer address li {
    margin-bottom: 5px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

/* Mobile Responsiveness */
@media only screen and (min-device-width: 375px) and (max-device-width: 750px) {
    body {
        padding: 10px;
    }

    header .container {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        padding-top: 10px;
    }

    nav li {
        margin-bottom: 10px;
    }

    footer {
        padding: 20px;
        text-align: center;
    }

    footer address ul {
        padding: 0;
    }

    footer address li {
        font-size: 0.85em;
    }

    footer h2 {
        font-size: 1.2em;
    }
}
